.header-container{
    border: 2px solid gray;
    height: 600px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    height: 150px;
}

.buttons-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    text-decoration: none !important;
    height: 150px;
}

.home-button-box{
    height: 80px;
    width: 120px;
    border: 3px solid gray;
    margin-bottom: 8px;
}

.home-button-link-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: gray;
    font-weight: 600;
    text-decoration: none !important;
}

@media screen and (max-width:992px) {
    .home-button-box{
        height: 45px;
        width: 64px;
    }
    .home-button-link-heading{
        font-size: 10px;
    }
    .buttons-container{
        height: 55px;
        width: 64px;
    }
    .buttons-container2{
        height: 55px;
        width: 64px;
    }
}